<!DOCTYPE html>
<head>
<meta charset=UTF-8>
<title>Book Review</title>
{% load static %}
<link rel="stylesheet" href="{% static 'bookreview/style.css' %}">
</head>
<body>
<container>

<div>
    <h3>Welcome, {{user.alias}}!</h3>
    <p><a href="/bookreview/books/add/">Add Book & Review</a><br>
    <a href=/bookreview/logout/>Logout</a></p>
</div>

<div>
    <h3>Recent Book Reviews</h3>
    {% for review in recent %}
    <p>
        {{review.book.title}} - {{review.rating}} stars<br>
        {{review.user.alias}} says: {{review.review}}<br>
        Posted on {{review.added}}<br>
    </p>
    {% endfor %}
</div>

<div>
    <h3>Other Books With Reviews</h3>
    {% for book in books %}
    <p>{{book.title}}</p>
    {% endfor %}
</div>

</container>
</body>
</html>