<!DOCTYPE html>
<head>
<meta charset=UTF-8>
<title>Book Review</title>
{% load static %}
<link rel="stylesheet" href="{% static 'bookreview/style.css' %}">
</head>
<body>
<container>

<div>
    <p><a href=/bookreview/books/>Home</a><br>
    <a href=/bookreview/logout/>Logout</a></p>
</div>

<div>
    <h3>{{book.title}}</h3>
    <p>{{book.author.author}}</p>
    <hr>

    <h3>Reviews</h3>
    {% for review in reviews %}
    <p>
        Rating: {{review.rating}} stars<br>
        {{review.user.alias}} says: {{review.review}}<br>
        Posted on {{review.added}}
    </p>
    {% endfor %}
</div>

<div>
    <fieldset>
    <legend>Add a Review</legend>
    <form action=/bookreview/books/{{book.id}}/review/ method=post>
        {% csrf_token %}
        <p>
            Review:<br>
            <textarea name=review rows=5 cols=40></textarea>
        </p>
        <p>
            Rating: <select name=rating>
            <option value=5>5</option>
            <option value=4>4</option>
            <option value=3>3</option>
            <option value=2>2</option>
            <option value=1>1</option>
        </select> stars
        </p>
        <p><input type="submit" value="Add Review"></p>
    </form>
    </fieldset>
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</div>

</container>
</body>
</html>